<%= render partial: 'layouts/errors', locals:{objects: @review}%>
<% if @movie %>
    <h1> Let's write a groovy review for <%= @movie.genre.name %> <%= @movie.name %>!</h1>
<% else %>
    <h1> Add a groovy Review! </h1>
<% end %>


<%= form_for(@review) do |f|%>
<% if params[:movie_id] %>
   <%= f.hidden_field :movie_id %>
<% else %>
   <div>
      <%= f.label :movie_id, "Select a Movie" %>
      <%= f.collection_select :movie_id, Movie.all, :id, :name, include_blank: true %>
  </div>
  <% end %>

  <div>
    <%= f.label :stars %>
    <%= f.number_field :stars, min:1, max:5 %>
  </div>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <%= f.submit %>

  <% end %>
